<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guess The Number</title>
</head>
<body>

<h2>Think of a number from 0 to 1000 and I will try to guess it within max. 10 attempts</h2>

<h3>Is it number {{guess}} ?</h3>

<form method="POST">

    <input type="submit" name="toobig" value="Too Big">

    <input type="submit" name="toosmall" value="Too Small">

    <input type="submit" name="youwon" value="You Won">

    <input type="hidden" name="min" value="{{min}}">

    <input type="hidden" name="max" value="{{max}}">

    <input type="hidden" name="guess" value="{{guess}}">

</form>

</body>
</html>